<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.luculent.libusb">

    <application>
        <provider
            android:name=".LibUsbContentProvider"
            android:authorities="${applicationId}.lib-usb-provider"
            android:exported="false" />
    </application>

</manifest>